<h1>Suleiman Augusto Pavao Mahmoud</h1>

<div class="container">
  <p> 
	After three internships and my student exchange experience in France, I was awarded a scholarship and grant by the Brazilian government’s president office, at the Florida Institute of Technology. 
	In the US, while taking graduate and undergraduate level courses, I worked on Frameworks for Software Defined Radio as a Research Assistant at the Intelligent Communication and Information Laboratory.
</p>
<p>
	I am an action oriented critical thinker, with strong analytical and creative problem solving skills. I feel comfortable in multicultural environments and with technical and operational planning and scheduling.
	My main interests are Wireless Communications and Embedded Systems.
	</p>
</div>
